{
  "semi": false,
  "trailingComma": "all",
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "parser": "typescript",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "importOrder": ["^~/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
